
/* universal selector, html & body */
* {
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
}
html {
  	height: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
  	overflow: hidden;
  	position: relative;
  	min-height: 100%;
}

/* header 
   double click heart from udemy course */
   h1 {
    text-align: center;
}
  .header {
    background-color: rgb(230, 230, 240);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    position: relative;
    cursor: pointer;
}
.heart-text {
    font-size: 11px;
    position: absolute;
    left: 10px;
    top: 12vh;
}
.heart-text-heart,
.fa-heart {
    color: rgb(241, 191, 191);
}
.header .fa-heart {
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}
@keyframes grow {
  to {
      transform: translate(-50%, -50%) scale(10);
      opacity: 0;
    }
}

/* expanding cards
   from udemy course */
.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    left: 35vh;
    height: 50vh;
    width: 60%;
}
.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 47vh;
    border-radius: 40px;
    color: rgb(46, 44, 57);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 30vh;
    margin: 0;
    opacity: 0;
}
.panel.active {
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* footer */
footer {
    position: absolute;
    background-color: rgb(230, 230, 240);
    width: 100%;
    height: 100px;
    bottom: 0;
}
footer p {
    text-align: center;
}
